/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #e8f5e9; /* Fundo mais suave */
    color: #212121;
    line-height: 1.6;
}

/* Cabeçalho */
header {
    background-color: #2e7d32; /* Tom mais escuro de verde */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header .logo h1 {
    color: #ffffff;
    font-size: 28px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 25px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #a5d6a7;
}

/* Seções */
main {
    padding: 50px;
}

section {
    margin-bottom: 40px;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 26px;
    color: #2e7d32;
    margin-bottom: 15px;
}

section p {
    font-size: 16px;
    color: #424242;
    margin-top: 10px;
}

section ul {
    list-style: circle;
    margin-left: 25px;
    color: #555555;
}

section img {
    width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
}

/* Botão Voltar ao Topo */
#scrollToTop {
    background-color: #388e3c;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 15px;
    font-size: 18px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s;
}

#scrollToTop:hover {
    background-color: #66bb6a;
}

/* Rodapé */
footer {
    background-color: #1b5e20;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

footer .social-media {
    margin-top: 15px;
}

footer .social-media a {
    color: #a5d6a7;
    margin: 0 12px;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

footer .social-media a:hover {
    color: #ffffff;
}
